.footer
    &__informations
        background: #f7f7f7
    &__container
        max-width: 1190px
        padding: 0 15px
        width: 100%
        margin: 0 auto

        @media(max-width: 767px)
            padding 0
    &__wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        padding: 50px 0
        @media(max-width: 767px)
            display: block 
            padding: 0 

    &__title
        color: #0d0f0f
        font-size: 14px
        font-weight: 600
        line-height: 14px 
        margin-bottom: 5px

        @media(max-width: 767px)
            border-top: 1px solid #e0e0e0 
            margin 0
            min-height 50px
            display flex
            align-items: center
            font-size 14px
            position relative
            padding-left: 15px

            &:after
                content: '+'
                position absolute 
                right 0
                font-size 20px
                width: 40px
                height: 40px
                display: flex
                align-items: center
                justify-content: center

    &__link
        color: #7f7f7f
        font-size: 12px
        font-weight: 400
        line-height: 14px
        transition: all .3s

        @media(max-width 767px)
            padding-left 15px
            font-size 12px
            margin-bottom 20px
            display block
        &:hover
            text-decoration: none
            color $cor01
    &__info
        display: block
        color: #434343
        font-size: 13px
        font-weight: 500
        line-height: 15px
        transition: all .3s
    &__text
        display: block
        color: #434343
        font-size: 13px
        font-weight: bold
        line-height: 15px
        transition: all .3s
    &__item
        &--horary
            margin: 8px 0
    &__contact
        display: block
        background: #373535
        color: #FFF115
        font-size: 11px
        padding: 11px 0
        text-align: center
        text-transform: uppercase
        font-weight: 800
        width: 126px
        transition: all .3s
        @media(max-width : 475px)
            margin: 0 auto
        &:hover
            border: 1px solid #373535
            background: #ffffff
            color: #373535
    &__payment
        padding-bottom: 30px
        @media(max-width : 475px)
            padding-bottom: 60px
    &__social
        &-list
            display: flex
            align-items: center
            @media(max-width : 475px)
                justify-content: center
        &-link
            display: block
            &--facebook
                width: 23px
                height 23px
                margin-right: 13px
            &--youtube
                width: 24px
                height 17px
                margin-right: 13px
            &--linkedin
                width: 23px
                height 23px
    &__safe-list
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        max-width: 190px
        @media(max-width : 475px)
            margin: 0 auto
    &__copyright
        &-text
            font-size: 11px
            color: #434343
            line-height: 15px
            text-align: center
            padding-bottom: 20px
            max-width: 1210px
            margin: 0 auto
        &-date
            font-size: 14px
            color: #434343
            text-align: center
            width: 100%
        &-signature
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            padding-top: 20px
        .footer__wrapper
            padding-bottom: 20px
            @media(max-width : 475px)
                padding-top: 30px
#headerLoginMaster
    display: none!important

.social__footer
    display: flex
    align-items: center
    max-width: 200px
    width: 100%
    justify-content: space-between

    @media(max-width 767px)
        max-width: 100%
        border-top: 1px solid #e0e0e0
        padding-top 20px
        justify-content center
        padding-bottom 20px

        > a
            margin 0 15px

    .facebook
        display block 
    	img
            width 15px
            height 15px
        

    .insta
        display block
        img
            width 15px
            height 15px

.footer__seals 
    border-top: 1px solid #e0e0e0
    border-bottom: 1px solid #e0e0e0
    padding: 30px 15px
    display: flex
    align-items: center
    justify-content: space-between
    max-width 1190px
    margin 0 auto

    @media(max-width: 767px)
        flex-wrap wrap

    span
        font-size 10px
        display: flex
        align-items: center
        color #808080

        @media(max-width: 767px)
            width 100%
            display block
            text-align center
            margin 10px 0
            font-size 12px

            img
                display block
                margin 10px auto!important
        
        img
            margin-left 10px
            max-width  110px
        

.footer__copyright 
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin: 40px auto
    max-width: 1190px
    padding: 0 15px


    span,a 
        font-size 9px
        display: flex
        align-items: center
        color #808080

    img
        margin-left 10px
        
    .agency
        img
            max-width 50px

    .platform
        img
            max-width 40px

    .footer__copyright-links 
        display: flex
        align-items: center
        max-width: 300px
        width: 100%
        justify-content: space-between

        @media(max-width: 767px)
            margin-top 20px

ul.footer__list
    @media(max-width: 767px)
        max-height 0
        visibility hidden
        opacity 0
        transition all 150ms ease-in-out