.footer
    &__informations
        background: #F4F4F4
    &__container
        max-width: 1330px
        padding: 0 15px
        width: 100%
        margin: 0 auto
    &__wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        padding: 35px 0
        @media(max-width: 475px)
            display: block
            text-align: center
            padding: 60px 0
            padding-bottom: 0
    &__column
        @media(max-width: 475px)
            padding-bottom: 60px
    &__title
        color: #434343
        font-size: 13px
        font-weight: bold
        line-height: 16px
        text-transform: uppercase
        margin-bottom: 10px
    &__link
        color: #434343
        font-size: 13px
        font-weight: 500
        line-height: 20px
        transition: all .3s
        &:hover
            text-decoration: underline
    &__info
        display: block
        color: #434343
        font-size: 13px
        font-weight: 500
        line-height: 15px
        transition: all .3s
    &__text
        display: block
        color: #434343
        font-size: 13px
        font-weight: bold
        line-height: 15px
        transition: all .3s
    &__item
        &--horary
            margin: 8px 0
    &__contact
        display: block
        background: #373535
        color: #FFF115
        font-size: 11px
        padding: 11px 0
        text-align: center
        text-transform: uppercase
        font-weight: 800
        width: 126px
        transition: all .3s
        @media(max-width : 475px)
            margin: 0 auto
        &:hover
            border: 1px solid #373535
            background: #ffffff
            color: #373535
    &__payment
        padding-bottom: 30px
        @media(max-width : 475px)
            padding-bottom: 60px
    &__social
        &-list
            display: flex
            align-items: center
            @media(max-width : 475px)
                justify-content: center
        &-link
            display: block
            &--facebook
                width: 23px
                height 23px
                margin-right: 13px
            &--youtube
                width: 24px
                height 17px
                margin-right: 13px
            &--linkedin
                width: 23px
                height 23px
    &__safe-list
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        max-width: 190px
        @media(max-width : 475px)
            margin: 0 auto
    &__copyright
        &-text
            font-size: 11px
            color: #434343
            line-height: 15px
            text-align: center
            padding-bottom: 20px
            max-width: 1210px
            margin: 0 auto
        &-date
            font-size: 14px
            color: #434343
            text-align: center
            width: 100%
        &-signature
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            padding-top: 20px
        .footer__wrapper
            padding-bottom: 20px
            @media(max-width : 475px)
                padding-top: 30px
#headerLoginMaster
    display: none!important