.header
    width: 100%
    z-index: 99
    display: flex
    flex-wrap: wrap
    position: fixed
    top: 0
    width: 100%
    left: 0

    .carrinho.carrinhoHead
        position relative

    @media(max-width: 991px)
        position fixed
        top 0px
        width 100%
        left 0
        z-index 99999
        
    &__topbar
        background-color: #f7f7f7 
        width: 100%
        transition: all .3s
 
        &-container
            max-width: 1920px 
            width: 100%
            padding 0 30px
            margin: 0 auto 
            display flex
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid #e0e0e0
            min-height 27px

            @media(max-width 991px)
                padding 0 15px

        &-links
            display: flex
            align-items: center
            justify-content: space-between
            width 18%

            @media(max-width 1200px)
                width 28%

            @media(max-width 991px)
                display none

        &-list 
            display: flex
            align-items: center
            justify-content: space-between
            width 59%

            @media(max-width 991px)
                width 100%
        .slick-prev
            left 0
            width: 30px
            height 30px
        .slick-next
            right 0
            width: 30px
            height 30px

        
                
        &-item 
            font-size: 8px
            line-height: 12px
            font-weight: 400
            color: $cor01
            display: flex!important
            align-items: center
            letter-spacing: .5px
            text-shadow 0 0

            @media(max-width 767px)
                display none!important

            &:first-child
                @media(max-width 767px)
                    display flex!important
                    margin 0 auto
                    font-size 10px

            a
                font-size 8px
                color #0d0f0f
                text-shadow 0 0 
                letter-spacing: .5px

                &:hover
                    color: $cor01
 
            &--two
                @media(max-width : 991px)
                    font-size: 0px
                    &:after
                        content: '25 anos no mercado'
                        font-size: 12px

        &-phones
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 991px)
                display: none
        &-phone
            font-size: 12px
            color: #FFFFFF
            line-height: 15px
            display: flex
            align-items: center

            @media(max-width 991px)
                color: #333
                font-weight: 600
            &--one
                padding-right: 20px
    &__mainbar
        background: #ffffff
        position: relative
        z-index: 1
        width: 100%
 
        &-container
            max-width: 1920px 
            width: 100%
            padding 0 30px
            margin: 0 auto 
            
            @media(max-width 991px)
                padding 0 15px
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 55px

            @media(max-width : 991px)
                flex-wrap: wrap 

                > div, a
                    min-width 35px
                    display: flex
                    align-items: center
                    justify-content: center
        &-mobile
            display: none
            @media(max-width : 991px)
                display: block
                width: 27px
                height 22px
        &-logo
            position: relative
     
            .headerLogo
                width 100%

                img
                    width 106px
                    margin 0
        &-serach
            max-width: 150px
            width: 100%
            margin-top -20px

            @media(max-width: 991px)
                max-width none
                width auto
                margin 0

            .headerSearch
                width: 100%
                float: none
                margin: 0
            input.inputSearch
                border: none!important
                border-bottom 1px solid #dadada!important
                font-size: 15px
                color: #dadada 
                padding 0!important  
                background: transparent
                height 30px
                &::placeholder
                    font-size: 0 
            button#btnBusca.btSearch
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAMAAADarb8dAAAAMFBMVEUAAAANDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8eckFMAAAAD3RSTlMAESIzRFVmd4iZqrvM3e5GKvWZAAAAY0lEQVR42m2OQQ7AIAgEqQWRtrr//22rIl46B9dMNhtowFkO2uSGDwtV8AizobphmOc1xV2jmXocKC5O5B4J6mL9YLsxN5qvG9JaH0aiqqgq+UYcQvwAaKrbUOLze90Ev6bQC7vxA2wecYEnAAAAAElFTkSuQmCC')
                background-repeat: no-repeat
                position: absolute
                right: 0
                bottom: 4px!important
                background-position: bottom right
                height: auto
                background-size: 12px

                .icon.isearch
                    display: none

        &-account, &-order, &-contact
            border-right: 1px solid #D8D8D8
            padding: 12px 20px
            @media(max-width : 991px)
                display: none
            a
                color: #373535
                font-size: 12px
                text-transform: uppercase
                font-weight: 600
                white-space: nowrap
                border-bottom: 1px solid transparent
                &:hover
                    border-bottom: 1px solid #fff115
        &-cart
            padding-left: 10px
            @media(max-width : 991px)
                padding: 0
            .carrinho.carrinhoHead
                float: none
                width: 42px
                position relative
                a
                    float none
                    display: flex
                    align-items: center
                .icon.icart
                    display: none
                .minicart-txt-itens
                    display: none
                .minicart-qtde-itens
                    width: 24px
                    height 24px
                    background: #EFEFEF
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0
                    border-radius: 50%
                    color: #373535
                    font-size: 11px
                    font-weight: 800
                    float: none
                    position: absolute
                    right: -2px
                    top: -7px
                    &:before, &:after
                        display: none

form#searchFormHeader, form#searchFormMobile, form#searchFormFooter
    padding-right: 10px

a.active__menu
    color: $cor01!important

span.minicart-txt-itens 
    display: none!important

#fbits-resumo-carrinho
    a
        display flex
        align-items: center
    i
        width 15px
        height 15px
        line-height: 0
        font-size: 0
        float: none
        margin: 0

        @media(max-width 991px)
            width 20px
            height 30px

        &:before
            display none
        
        &:after
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAMAAABl5a5YAAAAHlBMVEUAAAANDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw9/szn7AAAACXRSTlMAESIzRKq7zN3AOteQAAAAT0lEQVR42rWPwQ6AMAjF2GCy/v8PO3FuePBoDy9pEw7IpBTJmINbcoJdnEPV8XUPKqJQQms1sGeH86JGaI3Yr7D5L0jP3q9Xe3K9v1kMOQFPAgZ7WEGuvQAAAABJRU5ErkJggg==')
            display: block
            width: 15px
            height: 15px
            background-repeat: no-repeat
            background-size: 10px
            background-position center

            @media(max-width 991px)
                background-size: auto
                width 20px
                height 30px

    .minicart-qtde-itens
        font-size 8px!important
        text-shadow 0 0 
        height: auto!important
        line-height: 0!important
        font-family 'Muli'
        color #0d0f0f
        line-height: 0 !important;
        font-family: 'Muli';
        color: #0d0f0f;
        padding: 0;
        top: 0;
        bottom: 0;
        right: 0;
        position: relative;
        float: none;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top 3px

        @media(max-width 991px)
            font-size 12px!important 

        &:before, &:after
            display none


@media(min-width 992px)
    
    .header ul.menu li.item
        position static

        &:hover
            .product__menu
                display flex

    .header__mainbar-menu .menu li.item.raiz ul.filho
        position relative!important
        column-count: 2
        width 50%!important
        top 0
        padding 30px
        border none
        display block!important

        li
            a
                justify-content flex-start

                &:hover
                    color: #a8763c

    .product__menu 
        position: absolute
        width: 100%
        background: #fff
        display: none
        left: 0
        align-items: center

        img
            width 50%

    .menu li.item.raiz>ul.filho 
        li
            a
                &:hover
                    color: #a8763c
    