.header

    width: 100%
    z-index: 99
    display: flex
    flex-wrap: wrap
    &__topbar
        background-color: #f7f7f7 
        width: 100%
        transition: all .3s
 
        &-container
            max-width: 1920px 
            width: 100%
            padding 0 30px
            margin: 0 auto 
            display flex
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid #e0e0e0

        &-links
            display: flex
            align-items: center
            justify-content: space-between
            width 20%

        &-list 
            display: flex
            align-items: center
            justify-content: space-between
            width 58%

        .slick-prev
            left 0
            width: 30px
            height 30px
        .slick-next
            right 0
            width: 30px
            height 30px

        span.minicart-txt-itens 
            display: none

        #fbits-resumo-carrinho
            a
                display flex
                align-items: center
            i
                width 15px
                height 15px
                margin-right 3px
                &:before
                    display none
                
                &:after
                    content: ''
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAMAAADjyg5GAAAAKlBMVEUAAAANDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8MH+gxAAAADXRSTlMAESJEVWZ3iKq7zN3u3UzIpwAAAElJREFUeAGlx8EVAiAMRMGFECTC779dFYOPu3MbfbVW9GML8LOyiADLOiF1RrbTJSP0Vrm0XQd4TPDd8Wms7PFvNa9WqcZMT9MLfZ4G/8dcLuMAAAAASUVORK5CYII=')
                    display: block
                    width: 15px
                    height: 15px
                    background-repeat: no-repeat

            .minicart-qtde-itens
                font-size 10px
                text-shadow 0 0 
                &:before, &:after
                    display none
                    

        &-item 
            font-size: 9px
            line-height: 12px
            font-weight: 400
            color: $cor01
            display: flex!important
            align-items: center
            letter-spacing: 1px
            text-shadow 0 0

            a
                font-size 9px
                color #0d0f0f
                text-shadow 0 0 
                letter-spacing: 1px

                &:hover
                    color: $cor01
 
            &--two
                @media(max-width : 991px)
                    font-size: 0px
                    &:after
                        content: '25 anos no mercado'
                        font-size: 12px

        &-phones
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 991px)
                display: none
        &-phone
            font-size: 12px
            color: #FFFFFF
            line-height: 15px
            display: flex
            align-items: center

            @media(max-width 991px)
                color: #333
                font-weight: 600
            &--one
                padding-right: 20px
    &__mainbar
        background: #ffffff
        position: relative
        z-index: 1
        width: 100%
 
        &-container
            max-width: 1920px 
            width: 100%
            padding 0 30px
            margin: 0 auto 
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 70px

            @media(max-width : 991px)
                flex-wrap: wrap
        &-mobile
            display: none
            @media(max-width : 991px)
                display: block
                width: 27px
                height 22px
        &-logo
            position: relative
     
            .headerLogo
                width 100%
        &-serach
            max-width: 150px
            width: 100%
            @media(max-width : 991px)
                max-width: 100%
                order 1
                padding-bottom: 11px
                padding-top: 31px
                transition: all .3s
            .headerSearch
                width: 100%
                float: none
                margin: 0
            input.inputSearch
                border: none!important
                border-bottom 1px solid #dadada!important
                font-size: 15px
                color: #dadada 
                padding 0!important  
                &::placeholder
                    font-size: 0 
            button#btnBusca.btSearch
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAMAAADarb8dAAAAMFBMVEUAAAANDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8NDw8eckFMAAAAD3RSTlMAESIzRFVmd4iZqrvM3e5GKvWZAAAAY0lEQVR42m2OQQ7AIAgEqQWRtrr//22rIl46B9dMNhtowFkO2uSGDwtV8AizobphmOc1xV2jmXocKC5O5B4J6mL9YLsxN5qvG9JaH0aiqqgq+UYcQvwAaKrbUOLze90Ev6bQC7vxA2wecYEnAAAAAElFTkSuQmCC')
                background-repeat: no-repeat
                position: absolute
                right: 0
                bottom: 4px!important
                background-position: bottom
                height: auto

                .icon.isearch
                    display: none

        &-account, &-order, &-contact
            border-right: 1px solid #D8D8D8
            padding: 12px 20px
            @media(max-width : 991px)
                display: none
            a
                color: #373535
                font-size: 12px
                text-transform: uppercase
                font-weight: 600
                white-space: nowrap
                border-bottom: 1px solid transparent
                &:hover
                    border-bottom: 1px solid #fff115
        &-cart
            padding-left: 10px
            @media(max-width : 991px)
                padding: 0
            .carrinho.carrinhoHead
                float: none
                width: 42px
                position relative
                a
                    float none
                    display: flex
                    align-items: center
                .icon.icart
                    display: none
                .minicart-txt-itens
                    display: none
                .minicart-qtde-itens
                    width: 24px
                    height 24px
                    background: #EFEFEF
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0
                    border-radius: 50%
                    color: #373535
                    font-size: 11px
                    font-weight: 800
                    float: none
                    position: absolute
                    right: -2px
                    top: -7px
                    &:before, &:after
                        display: none

form#searchFormHeader, form#searchFormMobile, form#searchFormFooter
    padding-right: 20px

a.active__menu
    color: $cor01!important