.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 99
    display: flex
    flex-wrap: wrap
    &__topbar
        background-color: #333333
        padding: 12px 0
        width: 100%
        transition: all .3s
        @media(max-width : 991px)
            order: 1
        &-container
            max-width: 1330px
            padding: 0 15px
            width: 100%
            margin: 0 auto
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 1249px)
                justify-content: flex-end
        &-list
            padding-left: 220px
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 1249px)
                max-width: 55%
                padding: 0
            @media(max-width : 991px)
                max-width: 100%
                padding: 0 30px
        .slick-prev
            left 0
            width: 30px
            height 30px
        .slick-next
            right 0
            width: 30px
            height 30px
        &-item
            padding-right: 35px
            font-size: 12px
            line-height: 15px
            font-weight: 800
            color: #FFFFFF
            display: flex!important
            align-items: center
            @media(max-width : 1300px)
                padding-right: 15px
            @media(max-width : 1249px)
                justify-content: center
            @media(max-width : 991px)
                padding: 0
            &--two
                @media(max-width : 991px)
                    font-size: 0px
                    &:after
                        content: '25 anos no mercado'
                        font-size: 12px

        &-phones
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 991px)
                display: none
        &-phone
            font-size: 12px
            color: #FFFFFF
            line-height: 15px
            display: flex
            align-items: center

            @media(max-width 991px)
                color: #333
                font-weight: 600
            &--one
                padding-right: 20px
    &__mainbar
        background: #ffffff
        position: relative
        z-index: 1
        width: 100%
        @media(max-width : 991px)
            background:  linear-gradient( #333333 50px, white 50px, white 100px, white 100px, white 150px, white 150px)
            min-height: 80px
        &-container
            max-width: 1330px
            padding: 0 15px
            width: 100%
            margin: 0 auto
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 991px)
                flex-wrap: wrap
        &-mobile
            display: none
            @media(max-width : 991px)
                display: block
                width: 27px
                height 22px
        &-logo
            position: relative
            height: 70px
            width: 190px
            min-width: 190px
            margin-right: 35px
            @media(max-width : 991px)
                width: 138px
                min-width: 138px
                height: 50px
                margin: 0
            .headerLogo
                position: absolute
                float: none
                width: auto
                bottom: 0
                left: 0
                @media(max-width : 991px)
                    top: 0
            img 
                display: block
                width: auto
                margin: 0
                padding: 0
                max-width: none
                @media(max-width : 991px)
                    height 80px
        &-serach
            max-width: 630px
            width: 100%
            @media(max-width : 991px)
                max-width: 100%
                order 1
                padding-bottom: 11px
                padding-top: 31px
                transition: all .3s
            .headerSearch
                width: 100%
                float: none
                margin: 0
            input.inputSearch
                border: 1px solid #E7E7E7
                font-size: 15px
                color: #BABABA
                padding-left: 35px
                &::placeholder
                    font-size: 15px
                    color: #BABABA
            button#btnBusca.btSearch
                background: #373535
                font-size: 13px
                color: #FFF115
                text-align: center
                font-weight: 800
                width: auto
                height 100%
                padding: 12px
                transition: all .3s
                &:hover
                    color: #ffffff
                .icon.isearch
                    display: none
        &-account, &-order, &-contact
            border-right: 1px solid #D8D8D8
            padding: 12px 20px
            @media(max-width : 991px)
                display: none
            a
                color: #373535
                font-size: 12px
                text-transform: uppercase
                font-weight: 600
                white-space: nowrap
                border-bottom: 1px solid transparent
                &:hover
                    border-bottom: 1px solid #fff115
        &-cart
            padding-left: 10px
            @media(max-width : 991px)
                padding: 0
            .carrinho.carrinhoHead
                float: none
                width: 42px
                position relative
                a
                    float none
                    display: flex
                    align-items: center
                .icon.icart
                    display: none
                .minicart-txt-itens
                    display: none
                .minicart-qtde-itens
                    width: 24px
                    height 24px
                    background: #EFEFEF
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0
                    border-radius: 50%
                    color: #373535
                    font-size: 11px
                    font-weight: 800
                    float: none
                    position: absolute
                    right: -2px
                    top: -7px
                    &:before, &:after
                        display: none