.category
    &__header
        &-container
            max-width: 1920px
            padding: 0 30px
            width: 100%
            margin: 0 auto
            @media(max-width: 991px)
                padding 0 15px
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap 
            padding 10px 0
            border-bottom: 1px solid #E7E7E7
            border-top: 1px solid #E7E7E7
    &__breadcrumb
        >ol
            display: inline-block
            >li
                display: inline
                &:first-child
                    span[itemprop]
                        font-size: 0px
                        &:before
                            content: 'home'
                            font-size: 11px
                span[itemprop]
                    font-size: 11px
                    color: #6d6d5f
                    font-weight: 400
                    line-height: 14px
                .separador
                    &:before
                        content: '' !important;
                        display: inline-block;
                        border-radius: 50%;
                        width: 0.31rem;
                        height: 0.31rem;
                        background: #808080;
                        vertical-align: middle;
                        margin: 0 0.31rem;
                &:last-child
                    span[itemprop]
                        font-weight: bold
    &__inforesult
        font-size: 11px
        color: #808080
        font-weight: 400
        line-height: 13px
    &__ordenation
        .fbits-ordenar
            display: flex
            align-items: center
        .fbits-ordenar-por
            font-size: 13px
            color: #333333
            line-height: 16px
            text-transform: none
            white-space: nowrap
            @media(max-width: 991px)
                display none
        select 
            height 30px
            background-color: #ffffff
            border: 1px solid #F0F0F0
            border-radius: 0
            color: #333333
            font-size: 13px
            appearance none
            padding-left: 9px

    &__pagination
        .fbits-paginacao > ul
            a
                display: inline-block
                width: 30px
                height 30px
                line-height: 30px
                text-align: center
                font-size: 14px
                color: #373535
                font-weight: 500
                background: #F4F4F4
                margin: 0 1px
            li
                display: inline
                &.sel a
                    font-weight: bold
                    color: #ffffff
                    background: #373535

    &__list
        &-container
            max-width: 1920px
            padding: 0 30px
            width: 100%
            margin: 0 auto

            @media(max-width: 991px)
                padding 0 15px
                
        &-wrapper
            display: flex
            align-items: flex-start
            justify-content: space-between
    &__filter
        max-width: 80%
        width: 100%
        &-close
            display: none
        &-selected
            padding-top: 30px
        .fbits-filtro-pai
            margin: 0
            border-bottom: 1px solid #E7E7E7
            padding: 25px 0
        .fbits-filtro-titulo-pai
            font-size: 17px
            color: #333333
            font-weight: 900
            line-height: 21px
            text-transform: none
            margin-bottom: 5px
            &:after
                display: none
        .fbits-lista-filtro-filho
            display: block
            padding: 0
            .liCores
                position relative
            >li
                font-size: 10px
                color: #333333
                font-weight: 500 
                height auto
                line-height: 18px
                overflow hidden 
                margin 0!important
                position relative

                input
                    appearance none
                    width: 10px
                    height 10px
                    border: 1px solid #D9D9D9
                    border-radius: 3px
                    &:checked
                        background: #373535
            .fbits-filtro-ver-mais
                text-align: left
                font-size: 12px
                color: #373535
                font-weight: bold
        .fbits-filtro-filho-item
            display: block
        .fbits-filtro-quantidade
            display: none
        .fbits-componente-filtros-selecionados
            > ul
                padding-bottom: 30px
                border-bottom: 1px solid #E7E7E7
        .fbits-componente-filtros-selecionados-titulo
            font-size: 15px
            color: #353535
            font-weight: bold
            line-height: 19px
        .fbits-componente-filtro-selecionados-pai
            padding: 5px 0
            .tituloPai
                font-size: 13px
                color: #353535
                line-height: 16px
                text-transform: none
                &:after
                    display: none
            .fbits-componente-filtro-selecionados-remover
                display: none
        .fbits-componente-filtro-selecionados-filho.checked
            display: flex
            align-items: center
            justify-content: space-between
            >a
                order: 1
                display: block
                width: 25px
                height 25px
            span 
                font-size: 13px
                color: #353535
                line-height: 16px
                text-transform: none
            .qtde
                display: none
        span.fbits-filtro-limpar
            background: #353535
            border: 1px solid #373535
            border-radius: 1px
            font-family: Muli-Bold
            font-size: 15px
            color: #FFFFFF
            letter-spacing: -0.02px
            text-align: center
            width: 100%
            font-size: 0px
            height 40px
            line-height: 40px
            margin-top: 25px
            &:before
                content: 'LIMPAR FILTROS'
                font-size: 15px
                color: #ffffff
    &__products
        width: 100%
        >span 
            display: flex
            flex-wrap: wrap
            padding: 30px 0
            align-items: center

            @media(max-width: 991px)
                align-items: flex-start

        .fbits-item-lista-spot 
            flex: 1 1 25%
    
    &__footer
        &-container
            max-width: 1330px
            padding: 0 0.94rem
            width: 100%
            margin: 0 auto
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
            width: 80%
            margin-left: auto
            border-top: 1px solid #E7E7E7
            padding-top: 30px
            margin-top: 30px
    &__text
        padding-top: 40px
        flex: 1 1 100%
        font-size: 13px
        color: #373535
        line-height: 21px
        padding-bottom: 30px
    &__btn-mobile
        display: none

//mobile
@media(max-width : 991px)
    .fbits-categoria
        padding-top: 100px
        .header__topbar
            display: none
    .category
        &__banner
            display: none
        &__products
            width: 100%
        &__filter
            position: fixed
            top: 0
            left 0
            transition: all .3s
            transform: translate3d(-100%, 0, 0)
            z-index: 99999999
            height: 100vh
            max-width: 100%
            background: rgba(0,0,0, 0.75)
            &-wrapper
                max-width: 250px
                padding: 0 15px
                width: 100%
                background: #fff
                height: 100vh
                overflow auto
            &-close
                display: block
                width: 45px
                height 45px
                position absolute
                top: 0px
                left 255px
                color: #fff
                font-size: 30px
                margin-left: 5px
                font-weight: 700

        &__header
            &-wrapper 
                > *
                    flex: 1 1 100%
                    text-align: center
                    margin: 5px 0
                .category__pagination
                    display: none
                .fbits-ordenar
                    justify-content: center
        &__btn-mobile
            border: 1px solid #f0f0f0!important
            display block
            border: 1px solid #f0f0f0 !important
            display: block
            width: 40%
            height: 30px
            margin-top: 0.63rem
            padding-left: 5px
            display: flex
            align-items: center
            justify-content: space-between
            color: #333
            font-size: 0.81rem

        &__footer
            padding-bottom: 55px
            &-wrapper
                justify-content: center
                border: none
                width: 100%
            .category__inforesult, .category__text
                display: none

    .filter__open
        .category__filter
            transform: translate3d(0, 0, 0)
@media(max-width : 525px)
    .category__products
        .fbits-item-lista-spot
            flex: 0 0 49%

.category__name span 
    font-size: 22px
    color: #000000
    font-weight 400

.category__ordenation 
    margin-top: 10px


.fbits-item-lista-spot.fbits-item-lista-spot-empty 
    display: none

@media(min-width 992px)
    .category__filter-options
        ul
            display: flex
            align-items: center 
            z-index: 999

            li
                padding 0!important
                border none!important 
                margin-right: 10px!important
                margin-top: 10px!important

                .fbits-filtro-titulo-pai
                    height: 1.88rem!important
                    background-color: #fff!important
                    border: 1px solid #f0f0f0!important
                    border-radius: 0!important
                    color: #333!important
                    font-size: 0.81rem!important
                    font-weight 400
                    padding 0 10px
                    line-height 1.88rem!important
                    width 140px
                    background-image svg-inline(arrowdownselect)
                    background-size: auto
                    background-position: 90% center
                    background-repeat: no-repeat
                
                &:hover
                    ul.fbits-lista-filtro-filho
                        display: block
                        position: absolute
                        background: #fff
                        border: 1px solid #f0f0f0 !important
                        padding: 10px
                        max-width: 100% 

                ul.fbits-lista-filtro-filho
                    display none

.category__header-container.filter 
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

.category__btn-text
    background-repeat: no-repeat
    background-position: 95%
    width: 100%
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAMAAADTXB33AAAARVBMVEUlJiYzNDRFRkZPUFBVVlZZWVliY2NpaWlsbGxtbW17e3uJiYmen5+nqKi0tLTW1tbo6Ojp6enu7u739/f6+vr8/Pz///9cJH4/AAAAVUlEQVR4AcXSOxKEIBAAUXYF/IjKiM79j2pitWJJKp2+tI0Wq0BxuRUzMr6j9pdRaJKe7X2AMATCEOgyBMI25EFqRay+kxNxX5Gfi7T+xxJpGqZKAxzLHjH8+h48tQAAAABJRU5ErkJggg==')

.ac_over 
    background: #b18450!important
    color: #EEE


