$cor01 = #FFF115
$cor02 = #333333 // Cinza

$cor03 = #9ADDF4 // Vermelho
$cor04 = #fff501 // Amarelo
$cor05 = #fff9ea
$cor06 = #f8b605

//Buton
// $button
//     box-shadow: 0 2px 3px rgba(0,0,0,0.1)

//Container
$container
    max-width: 1300px 
    width: calc(100% - 30px)
    margin: 0 auto 


$transition = all 150ms ease-in-out

arrow = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAMAAADJ7yrpAAAA0lBMVEUAAAD///+AgIBVVVVmZmY5OTlNTU03NzdEREQ9PT06Ojo3Nzc+Pj46Ojo3Nzc5OTk3Nzc1NTU6Ojo3Nzc5OTk2NjY1NTU3Nzc2NjY3Nzc3Nzc2NjY1NTU3Nzc2NjY1NTU3Nzc1NTU1NTU3Nzc2NjY2NjY1NTU3Nzc2NjY2NjY1NTU2NjY2NjY2NjY1NTU2NjY2NjY2NjY1NTU1NTU2NjY1NTU1NTU2NjY1NTU2NjY1NTU2NjY2NjY2NjY2NjY1NTU1NTU1NTU2NjY2NjY1NTU1NTUs79leAAAARXRSTlMAAQIDBQkKDg8VFhwdIyUtLjA1ODpCQ0VRU11eYGtsbm98fX5/iouMjZuoqauwsbS1t7u/zM3O1tfg4efo7e70+Pn7/P4ov4jqAAAAz0lEQVR42n3TRxLCMAwFUCcQegsQeu+99xZKcv8rgbTBP2bQ8s3I8sjfwlO6lde85p+67syLQ/dTJlrDVTH/IluCJW5kx7BsoQOZnZLNtyRzCtA84CFNsArbCCz7INsYssUuZOeobIEd2T0jmzbhA0twYIetC1Z0yOa6bKZNtg/KFjmRXePQvCJ7WmBJHlIVUGnGmsBac3sOEQepV1Ivv9BR2zys9wVpIWVUXJ26ZPU5tob48XBjgdVnbYFBGP7HBgOmRhGrDqHFeP/7CPhl3h12O95gZkLrAAAAAElFTkSuQmCC"
