.bread
    background-color white
    padding 0
    position relative 
    border: 0 !important
    margin-bottom:10px!important
    
    ol
        line-height 1
        margin: 0

        .fbits-produto-nome 
            margin: 0!important
            font-weight: 700!important
            color: #333333!important
            line-height: 15px!important
            font-size: 13px!important
    li
        line-height 1 
        justify-content: center
        display inline

        &:after
            content: ''!important
            display: inline-block 
            border-radius 50%
            width 5px
            height 5px
            background #808080
            vertical-align: middle
            margin 0 5px
            
        &:last-child
            a
                margin: 0
                color: #808080 !important

            &:after
                display: none


        a
            display inline
            height: 15px
            text-decoration: none
            font-size: 12px!important
            color: #808080
            transition: all 150ms ease-in-out
            vertical-align: middle
            font-weight: 400
            text-transform : lowercase
   
    h1
        display inline!important
        width: auto!important
        float: none!important
     

 

.detalhe-produto-itens
    float: none