.newsletter
    background: #f7f7f7
    padding: 20px 0
    display: block
    &__container
        max-width: 1920px
        padding: 0 0.94rem
        width: 100%
        margin: 0 auto
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        @media(max-width : 1199px)
            flex-wrap: wrap
            justify-content: center
    &__title
        font-size: 20px
        color: #434343
        font-weight: bold
        line-height: 25px
        @media(max-width : 1199px)
            margin-bottom: 15px
            text-align: center
    .footerNewsForm
        float: none
        width: 100%
        display: flex
        align-items: center
        flex-wrap wrap
        position relative
        @media(max-width : 1199px)
            width: 100%
        @media(max-width : 810px)
            flex-wrap: wrap
        input[type="text"]
            float: none
            width: 16%
            margin: 0
            border: 1px solid #E7E7E7
            color: #BABABA
            margin 0 5px
            &::placeholder
                color: #BABABA
            @media(max-width : 810px)
                width: 100%
                margin-bottom: 12px
                text-align: center
    .newsletter-box + .newsletter-box
        display: none
    .newsletter-box
        width: 100%
        display: flex
        flex-wrap wrap
        align-items: center
        justify-content: center
        @media(max-width : 810px)
            flex-wrap: wrap
            width: 100%
    .btNews
        float: none;
        margin: 0;
        background: #c19f78;
        color: #fff;
        font-size: 0.81rem;
        font-weight: 800;
        height: 2.5rem;
        margin: 10px auto;
        width: 200px;
        font-weight: 700;
        @media(max-width : 810px)
            width: 100%
            margin: 0 5px