.product__price
    
    @media(max-width: 991px)
        margin-top: 20px
        width: 100%
        display: flex
        align-items: flex-start
        flex-wrap: wrap

    @media(max-width: 768px)
        flex-wrap: wrap

    .product__price-container
        flex-wrap: wrap
        display: flex


.product__name
    display: flex
    justify-content: space-between

.product__brand
    display: flex
    justify-content: flex-end
    #fbits-fabricante-logo
        max-width: 100px;
    img 
        height: auto
        width: 100%
    @media(min-width: 992px)
        &.brand01
            display: none
    @media(max-width: 991px)
        &.brand02
            display: none
        img
            width: 70px
            margin-left: 10px

.product__price-on
    @media(min-width: 769px)
        &.price02
            display: none
    @media(max-width: 768px)
        &.price02
            margin: 0 0 15px 0

    .fbits-preco
        align-items: center
        position: relative
        display: flex
        flex-wrap: wrap

    .precoDe
        font-size: 15px
        color: #A1A0A1
        text-decoration: none
        margin-right: 5px
        font-weight: 600

        &:before
            content 'de'
            margin-right 5px

        &:after
            content 'por'
            margin-left 5px

    .precoPor
        color: #0D0F0F !important
        font-size: 14px
        font-weight: 500
        display: flex
        align-items: center

        &:before
            display: none

    #fbits-div-preco-off + #fbits-div-preco-off
        display: none

    .fbits-preco-off
        margin: 0 0 0 5px

    .precoVista
        text-transform: none
        display: none
        .fbits-boleto-ou
            display: none

        .fbits-boleto-preco
            color: #00d833
            font-size: 15px
            font-weight: 600

        .fbits-boleto-avista,
        .fbits-boleto-desconto
            font-size: 12px
            color: #3e3e3e


    .product__price-installments
        font-size: 12px
        color: #3e3e3e
        margin-bottom: 2px
        width: 100%

        .numeroparcelas,
        .parcelax,
        .parcelavalor,
        span.parcelade
            font-weight: 600
            color: $cor01
            font-size: 16px
        
        .parcelajuros
            display: none
 

[id*="view-item-quantidade"]
    width: 100%
    text-align: center
    margin: 15px 0
    display: none

    .fbits-titulo-quantidade.atributo-div
        font-size: 15px
        color: #353535
        text-transform: none
        font-weight: 400
        margin-right 5px
        width auto

    #menosQtd 
        font-size: 20px
        font-weight: 700
        margin-right: 5px
        color: $cor01
        cursor pointer

   #maisQtd 
        font-size: 20px
        font-weight: 700
        margin-left: 5px
        color: $cor01
        cursor pointer

    @media(max-width: 768px)
        margin: 0

    .fbits-titulo-quantidade
        display: none

    #item-quantidade-1
        border: 1px solid #E8E8E8
        color: #979797
        font-size: 15px
        line-height: 16px
        font-weight: 600
        text-indent: 0
        text-align: center
        background: none
        width: 40px
        height: 40px
        border-radius: 1px
        font-style: italic

[id*="produto-variante"]
    float: none
    display: flex
    justify-content: center
    flex-wrap: wrap

[id*="produto-comprar"]
    margin: 0 
    bottom: 0
    max-width: 100%
    width: 100%
    height: 50px 
    

    a
        margin: 0

.produto-comprar
    display none
    a
        background: #4AC87A
        cursor: pointer
        color: #fff
        font-size: 0!important 
        font-weight: 600
        border-radius: 2px
        align-items: center
        justify-content: center
        text-transform: uppercase
        display: flex
        height: 50px
        width: 100%
        text-decoration: none
        transition: $transition

        &:after
            content: 'comprar'
            font-size: 18px
            cursor pointer
            font-weight: 700
            text-shadow:  0 0

        &:hover
            color: #fff
            text-decoration: none
            background: darken(#4AC87A, 20%)

#cepCarrinho 
    .summary
        display none 

    .simule
        font-size: 0
        margin-top 5px
        display: flex
        align-items: center
        margin: 0
        width 100%
        margin-bottom 10px


        @media(max-width 992px) 
            width: 100%
            justify-content: center
            margin-bottom: 10px

        &:after
            content: 'Calcule seu Frete'
            font-size: 15px
            text-transform: none
            font-weight: 600
            color: #353535

 

    .details-content 
        display: flex!important
        align-items: center
        padding: 0
        position relative
        flex-wrap: wrap
        justify-content: space-between

        @media(max-width: 992px)
            flex-wrap: wrap
 
        br  
            display: none


    #txtCalculaFreteProduto
        margin: 0 
        width 159px
        text-align: left
        height 40px
        border: 1px solid #E8E8E8
        border-radius: 1px
        width 50%

        @media(max-width 992px)
            width 100%
            margin-bottom 10px

    #btnCalculaFreteProduto
        margin: 0
        width 47%
        height 35px 
        color: #ffffff
        background: #5BC0B9
        border: none
        cursor: pointer 
        height 40px
        font-size: 15px!important
        font-weight: 700!important

        @media(max-width: 991px)
            width 100%

    a#naoSeiCep 
      display: none


.product__price-other
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    width: 100%

    @media(max-width: 768px)
        justify-content: space-between

    .fbits-frete-diponibilidade
        background: #4b4b4b;
        color: #fff;
        padding: 0 15px;
        margin: 0 auto;
        line-height: 40px;
        border-radius: 4px;
        font-weight: 600;
        max-height: 0px;
        overflow hidden;
        transition: all .3s ease-in-out
        &.open
            max-height: 1000px;
            margin: 15px auto;



.fbits-calculafrete 
    @media(max-width 991px)
        width: 100%

#btnAlertaValores
    @media(max-width 991px)
        width: 48%!important
        max-width 100%

.link-add-lista-produto
    border: 1px solid $cor03
    border-radius: 3px
    font-size: 12px
    line-height: 12px
    font-weight: 600 
    width: 100%
    color: $cor02
    text-align: center
    align-items: center
    display: flex
    height: 40px
    padding: 0 15px 
    cursor: pointer
    justify-content: center
    margin-top 10px
    transition: all 150ms ease-in-out

    &:before
        @extend $ico-before
        // background-image svg-inline(addlisth)
        height: 18px
        width: 20px
        padding: 0
        margin-right 3px

    &:hover
        border: 1px solid $cor01

.product__alertaprazo
    background: $cor02 
    color: #fff
    transition: $transition
    width: 125px
    font-size: 12px
    line-height: 12px
    font-weight: 600 
    cursor: pointer 
    height: 40px
    border: none
    margin: 0
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    padding: 0 22px
    float: none
    @media(max-width: 1199px)
        margin: 0 auto
        margin-bottom: 5px
    @media(max-width: 425px)
        max-width 48%
        width 48%
    &:before
        @extend $ico-before
        // background-image svg-inline(alarm2)
        height: 20px
        width: 38px
        padding: 0
        margin-right 3px

    &:hover
        color: #fff
        background: $cor01

.fbits-Contraproposta-modal
    width auto

.fbits-Div-BtnContraproposta
    background: #373535
    color: #fff
    font-size: 0
    width: 48% 
    border: none
    border-radius: 1px
    text-transform: none
    padding: 0 
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 10px
    height 45px
    @media(max-width 991px)
        width: 48%!important
        max-width 100%
    &:before
        @extend $ico-before
        background-image svg-inline(money)
        transition: $transition
        width: 27px
        height: 27px
        background-size: 20px 
        margin-right 5px

    .fbits-Btn-BtnContraproposta
        font-size: 0
        display: none

    &:after 
        content: 'Contra proposta'
        font-size: 12px
        font-weight: 600
        text-transform: uppercase
        line-height: 14px
        max-width 52%
        text-align: left

#btnAlertaValores
    background: $cor01
    color: #fff
    font-size: 0
    width: 100% 
    border: none
    border-radius: 1px
    text-transform: none
    padding: 0 
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    height 45px

    &:before
        @extend $ico-before
        background-image svg-inline(sino)
        transition: $transition
        width: 25px
        height: 25px
        background-size: 20px 
        margin-right 5px

    &:after 
        content: 'Alerta de preço'
        font-size: 12px
        font-weight: 600
        text-transform: uppercase
        line-height: 14px
        max-width 52%
        text-align: left
        color: #000000

        @media(max-width: 320px)
            font-size: 13px
        

.share__mobile
    order: 6
    margin: 20px auto 

    @media(min-width: 993px)
        display: none

 .top__product 
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between 

    @media(max-width: 992px)
        justify-content: center
 
.carrinhoInputBlock
    float: none

.addthis_inline_share_toolbox 
    margin-top: 75px

    &:before
        content: 'Compartilhe nas redes sociais'
        color: #333
        font-weight: 600
        font-size: 15px

    #atstbx
        margin-top 5px

    @media(max-width: 767px)
        width 100%
        text-align: center
        margin-top 20px

#description-product 
    position: absolute
    margin-top: -100px


div#divGrupoProduto ul:nth-child(3) 
    display: none

#btnComprarTodos
    background: #4ac87a
    cursor: pointer
    color: #fff
    font-size: 0!important 
    font-weight: 600
    border-radius: 2px
    align-items: center
    justify-content: center
    text-transform: uppercase
    display: flex
    height: 50px
    width: 100%
    text-decoration: none
    transition: $transition

    &:after
        content: 'comprar'
        font-size: 19px
        cursor pointer
        font-weight: 700
        text-shadow:  0 0

    &:hover
        color: #fff
        text-decoration: none
        background: darken(#4ac87a, 20%)

.btn-comprar
    background: #377F4F
    border 1px solid #377F4F
    color: #ffffff

.addCarrinho
    background: #ffffff
    border 1px solid #0D0F0F
    color: #0D0F0F
    margin-bottom 15px

.btn-comprar,
.addCarrinho
   
    cursor: pointer
 
    font-size: 14px!important 
    font-weight: 500
    
    align-items: center
    justify-content: center
    display: flex
    
    height: 48px
    width: 100%
    
    text-decoration: none
    transition: $transition
    max-width 100%

.fbits-comprar
    @media(min-width 992px)
        display: none

.fbits-categoria
    ul.filtroFilho, ul.fbits-lista-filtro-filho
        @media(max-width: 992px)
            display: block

.product__economy
    font-size: 12px
    line-height: 15px
    font-weight: 500
    color: #373535
    text-align: center
    padding-bottom: 25px
    border-bottom: 1px solid #E7E7E7
    margin-bottom: 25px
    span 
        color: #4AC87A
        font-weight: 900
.product__boleto
    display: none
    .summary.fbits-summary.summaryDesktop
        display: none

    .details-content
        display: flex!important
        flex-wrap: wrap
    p
        font-size: 15px
        line-height: 17px
        color: #373535
        font-weight: 700
        order: 1

        b 
            color: #FF5D5D
            font-weight: 700

#fbits-forma-pagamento
    .product__boleto
        display: block
        
.product__parcelamento
    .fbits-parcelamento-padrao
        padding-top 0
        
        .summary.fbits-summary.summaryDesktop
            
            color: #DEA345
            text-decoration: none
            font-weight: 500 
            max-width: 100% 
            text-transform: none 
            display: flex
            justify-content: center
            align-items: center  
            padding: 0 
            font-size: 11px

            &:before
                display none

            &:after
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAABGdBTUEAALGPC/xhBQAAAGlJREFUGBljYGBg4AfiJiAWA2J8QBUoWQ3ErCBFqUD8H4ivAjEujWpAuadQdc5AmoEFiNdCBbBpRNYwEaQBBnBpxKkBl0YboATMSSg2wDTAaJAnYU4F+ROE8WqAaUR2KlEakDU6wDjoNACVhxxQAlNyIQAAAABJRU5ErkJggg==')
                border: none
                content: ''
                width: 15px
                height 15px
                background-repeat: no-repeat
                background-position: center
                padding: 0
                margin-left: 5px

    